@font-face {
    font-family: "HomePage";
    src: url(GlitchGoblin-2O87v.ttf);
}
.navbar {
    background-color: rgb(100,200,200);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
body {
    position: relative;
    background-color: rgb(255,255,212);
    max-width: 100vw;
}

.navbar a {
    float: left;
    color: #101000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.navbar a:hover {
    background-color:   rgb(174, 236, 236);
}
.main {
    margin-top: 10px;
    padding: 16px;
    height: 1000px;
}
.parallax {
    background-color: rgb(255,255,212);
    background: fixed;
    font-family:"HomePage";
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
    z-index: 10;
}
#arrow {
    opacity: 1;
    position: fixed;
    top: 55vh;
    left: 45vw;
    height: 15vh;
    width: 8vw;
    z-index: -1;
}
#break {
    border-radius: 10px;
    height:20vh;
    z-index: 0;
}
#afterTitle {
    position:relative;
    height:100vh;
}
#projectIntro {
    position: relative;
    display: flex;
    text-align: right;
    left:0px;
    top:0px;
    width:100%;
    height:100vh;
    background-color: rgb(174, 236, 236);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
}
#projectIntroText {
    position:absolute;
    top:50vh;
    right:15vw;
    text-align: right;
}
#projectIntroImages {
    position:absolute;
    top:65vh;
    right:5vw;
    text-align: right;
    img{
        border: 5px solid rgb(255,255,212);
        width: 20vh;
        height: 20vh;
    }
}
#introButton {
    position: absolute;
    top:90vh;
    right:22.5vw;
    border: 5px solid rgb(255,255,212);
    background-color: gray;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    padding: 15px 32px;
    transition-duration: .3s;
    cursor: pointer;
}
#introButton:hover {
    background-color: rgb(100,200,200);
}
#backgroundColor {
    background-color: rgb(174, 236, 236);
}
#projectIntro2 {
    height: 100vh;      
    background-color: rgb(174, 236, 236);
    z-index: 1;
}
#leftHome {
    position:absolute;
    top:230vh;
    width:48vw;
    text-align:center;
}
#rightHome {
    position:absolute;
    left:50vw;
    top:230vh;
    width:48vw;
    text-align:center;
}
#halfImages {
    img{
        border: 5px solid rgb(255,255,212);
        width: 20vh;
        height: 20vh;
    }
}
#pageHeader {
    text-align: center;
    position: relative;
    top: 10vh;
    z-index: -1;
}
#pageSummary {
    text-align: center;
    position: relative;
    top: 15vh;
    z-index: -1;
}
#mainButton {
    position: relative;
    top:0vh;
    right:0vw;
    border: 5px solid rgb(255,255,212);
    background-color: gray;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    padding: 15px 32px;
    transition-duration: .3s;
    cursor: pointer;
}
#mainButton:hover {
    background-color: rgb(100,200,200);
}
#linkButton {
    position: relative;
    top:0vh;
    right:0vw;
    border: 5px solid rgb(210,210,140);
    background-color: gray;
    color: white;
    font-size: 1vw;
    text-align: center;
    width:21vh;
    height:6vh;
    transition-duration: .3s;
    cursor: pointer;
}
#linkButton:hover {
    background-color: rgb(100,200,200);
}
#leftList {
    position: absolute;
    text-align: center;
    left:0;
    width: 48vw;
    top:26vw;
    img{
        border: 5px solid rgb(210,210,140);
        width: 20vh;
        height: 20vh;
    }
}
#space {
    height:10vh;
    width:0;
}
#rightList {
    position: absolute;
    text-align: center;
    left:48vw;
    width: 50vw;
    top:26vw;
    img{
        border: 5px solid rgb(210,210,140);
        width: 20vh;
        height: 20vh;
    }
}
#center {
    background-color:rgb(174, 236, 236);
    position: relative;
    text-align: center;
    top:-10vh;
}